{% extends 'layout.html' %} {% block content %}
<div>
  <div>
    <article>
      <h1>What Did I Eat? </h1>
      <div>
        <form method="post">
          <br>
          
          <input type="text" name="restaurant"
                 placeholder="Restaurant"
                 value="{{ request.form['restaurant'] }}"></input>

          <br>
          <br>
          <input type="text" name="menu"
                placeholder="Menu"
                value="{{ request.form['menu'] }}"></input>
          <br>
          <br>

          <button type="submit">Submit</button>
      </form>
      </div>
    </article>
  </div>
</div>
{% endblock %}
